body {
    margin: 0;
    min-height: calc(100vh - 48px);
    background-image: url('img/background.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #ffffff;
    width: 90%;
    max-width: 320px;
    margin: 48px auto 0;
    border-radius: 3px;
}

.indicators {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    margin-bottom: 1.25rem;
}

.indicator {
    width: 6px;
    height: 6px;
    background-color: #d5d5d5;
    border-radius: 50%;
    margin: 0 .2rem;
}
.indicator--active {
    background-color: #939393;
}

.title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #272B32;
    text-align: center;
    font-size: 1.25rem;
    margin: 0 0 1.25rem;
    letter-spacing: .5px;
}

.method {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    border-top: 1px solid #d5d5d5;
    cursor: pointer;
}
.method:hover {
    background-color: #ebebeb;
}

.method--selected:after {
    content: url('img/check.svg');
    margin-left: auto;
}
.method--selected .method-title {
    color: #272B32;
}

.method img {
    width: 3rem;
    margin-right: 1rem;
}

.method-title {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 500;
    color: #939393;
    letter-spacing: 1px;
}

.cta {
    display: flex;
    background-color: #4874d4;
    border-radius: 0 0 3px 3px;
    justify-content: center;
    padding: 1rem 0;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: .75rem;
    align-items: center;
    letter-spacing: 1px;
}

.cta:hover {
    background-color: #3f6cf2;
}
.cta:active {
    height: .875rem;
}

.cta img {
    width: 1rem;
    margin-left: .5rem;
}